h2{
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-weight: 300;
}
p{
  font-size: 20px;
}

.detail{
  max-width: 1200px;
  margin: 0 auto;
}

.detail,.input{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.detail div button:nth-child(2){
  margin: 0 40px;
}