.main-content{
    padding: 0px calc(50% - 640px);
}
.content{
    display: flex;
}
.content .sort-kitchen, .content .restaurant-content .restaurant-block{
    flex: 1;
    border: 1px solid #dbdbdb;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    max-height: 530px;
}

.content .restaurant-content .restaurant-block:hover{
    -webkit-animation: shadow-drop-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content .sort-kitchen h2{
    color: #b51628;
    margin-bottom: 20px;
    font-weight: 500;
}

.content .sort-kitchen ul li{
    margin-bottom: 3px;
    cursor: pointer;
}

.content .restaurant-content{
    flex: 5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
}

.content .restaurant-content .restaurant-block{
    text-align: center;
    cursor: pointer;
    margin: 0 26.6px 26.6px 0;
    flex: 1 0 20%;
    max-height: 216px;
}

.content .restaurant-content .restaurant-block img{
    width: 230px;
    height: 83px;
}

.content .restaurant-content .restaurant-block:nth-child(3n),
.content .restaurant-content .restaurant-block:last-child{
    margin-right: 0;
}

.content .restaurant-content .restaurant-block h2{
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
}

.content .restaurant-content .restaurant-block .restaurant-food{
    margin-bottom: 10px;
}

.content .restaurant-content .restaurant-block .restaurant-time{
    font-size: 20px;
    font-weight: 500;
}

.sort{
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.sort .sort-restaurants{
    border: 1px solid #b4b1b1;
    font-size: 16px;
    padding: 5px 15px;
    font-weight: 300;
    cursor: pointer;
    color: #b4b1b1;
}

.sort .sort-restaurants.select{
    border-color: #b51628;
    color: #b51628;
}

.select-kitchen{
    color: #b51628
}

.sort .sort-delivery{
    display: flex;
    margin-left: auto;
}

.sort .sort-delivery p{
    padding: 0 5px 7px 5px;
    cursor: pointer;
}

.sort .sort-delivery p:first-child{
    margin-right: 25px;
}

.sort .sort-delivery p.select-delivery{
    border-bottom: 2px solid #b51628;
    padding-bottom: 5px;
    color: #b51628;
}

@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

@media screen and (max-width: 1280px){
    .main-content{
        padding: 0px calc(50% - 480px);
    }

    .content .restaurant-content{
        flex: 3;
    }

    .content .restaurant-content .restaurant-block:nth-child(3n){
        margin-right: 26.6px;
    }

    .content .restaurant-content .restaurant-block:nth-child(2n){
        margin-right: 0;
    }

}
@media screen and (max-width: 993px){
    .main-content{
        padding: 0px calc(50% - 417px);
    }

    .content .restaurant-content{
        flex: 1;
    }

    .content .restaurant-content .restaurant-block,.content .restaurant-content .restaurant-block:nth-child(3n){
        margin-right: 0;
    }


    .content .sort-kitchen{
        flex: 0.4;
    }
}
@media screen and (max-width: 840px){
    .main-content {
        padding: 0px calc(50% - 330px);
    }
}

@media screen and (max-width: 680px){
    .main-content {
        padding: 0px calc(50% - 260px);
    }

    .main-content .sort{
        margin: 20px 0;
    }

    .content .restaurant-content{
        margin-left: 10px;
        flex: 2;
    }

    .content .sort-kitchen{
        flex: 1;
    }
}

@media screen and (max-width: 530px){
    .main-content {
        padding: 0px calc(50% - 185px);
    }

    .content .restaurant-content{
        margin-left: 0;
    }

    .content .sort-kitchen{
        display: none;
    }

    .main-content .sort{
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-content .sort .sort-delivery{
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 380px){
    .main-content {
        padding: 0px calc(50% - 150px);
    }
}

