.profile{
    padding: 50px calc(50% - 640px);
    display: flex;
    justify-content: space-between;
}

.profile .profile-content,.profile .navigation-profile{
    border-radius: 6px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background: #fff;
    flex: 3.5;
    margin-right: 50px;
    padding: 30px;
}

.profile .profile-content h2,.profile .navigation-profile h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.profile .profile-content .profile-text{
    margin-bottom: 5px;
    font-size: 23px;
}

.profile .profile-content .profile-text span{
    font-weight: bold;
}

.profile .navigation-profile{
    flex: 1;
    height: 225px;
    margin-right: 0;
}

.profile .navigation-profile h2{
    text-align: center;
}

.profile .navigation-profile ul li{
    margin-bottom: 10px;
    cursor: pointer;
}

.profile .navigation-profile ul li:last-child{
    margin-bottom: 0;
}

.profile .profile-content .change-content, 
.profile .profile-content .data-address{
    width: 80%;
}

.profile .profile-content .change-content .change-form .change-email,
.change-password,
.change-telefon,
.address-city,
.address-street,
.change-house{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}

.profile .profile-content .change-content .change-form p,
.profile .profile-content .address-content .data-address p{
    font-size: 20px;
    font-weight: 300;
}

.profile .profile-content .change-content .change-form input,
.profile .profile-content .address-content .data-address input{
    height: 40px;
    color: #000;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    outline: none;
    border-radius: 6px;
    width: 80%;
}

.profile .profile-content .change-content .change-form input:valid,
.profile .profile-content .address-content .data-address input:valid{
    border: 1px solid green;
}

.profile .profile-content .change-content .change-form input:invalid,
.profile .profile-content .address-content .data-address input:invalid{
    border: 1px solid red;
}

.profile .profile-content .change-content button,
.profile .address-content .data-address button{
    background: #01bf2b;
    border: none;
    padding: 15px 50px;
    color: #f7f7e2;
    border-radius: 5px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.profile .profile-content .change-content button:hover,
.profile .address-content .data-address button:hover{
    background: #1f9c3a;
}

.profile .profile-content .change-content button:active,
.profile .address-content .data-address button:active{
    transform: translateY(1px)
}

.profile .address-content .address{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile .address-content .address .address-text{
    font-size: 23px;
    font-weight: 400;
    margin-right: 10px;
}

.profile .address-content .address img{
    width: 30px;
    cursor: pointer;
}

.profile .profile-content .history-content .history-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    border-bottom: 1px solid #dddddd;
}

.profile .profile-content .history-content .history-img{
    margin-right: 20px;
}

.profile .profile-content .history-content .history-img img{
    width: 100px;
}

.profile .profile-content .history-content .history-discription{
    display: flex;
    flex-direction: column;
    flex: 0.9;
    margin-right: auto;
}

.profile .profile-content .history-content .history-discription h2{
    margin-bottom: 10px;
}

.profile .profile-content .history-content .history-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.profile .profile-content .history-content .history-option .history-price{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.active{
    color: #e4002f;
}

@media screen and (max-width: 1280px){
    .profile{
        padding: 50px calc(50% - 480px);
    }

    .profile .profile-content{
        flex: 2;
    }

    .profile .profile-content .change-content, 
    .profile .profile-content .data-address{
        width: 100%;
    }
}

@media screen and (max-width: 993px){
    .profile{
        padding: 50px calc(50% - 417px);
    }

    .profile .profile-content .change-content .change-form .change-email,
    .change-password,
    .change-telefon,
    .address-city,
    .address-street,
    .change-house{
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .profile .profile-content .change-content .change-form input,
    .profile .profile-content .address-content .data-address input{
        width: 97%;
    }

    .profile .profile-content .history-content .history-item{
        flex-direction: column;
    }

    .profile .profile-content .history-content .history-item .history-discription{
        margin-bottom: 10px;
        flex: 1;
    }

    .profile .profile-content .history-content .history-item .history-discription h2{
        text-align: center;
    }

}

@media screen and (max-width: 840px){
    .profile {
        padding: 50px calc(50% - 330px);
        flex-direction: column;
    }

    .profile .profile-content{
        margin-right: 0;
        order: 2;
        margin-top: 20px;
    }

    .profile .navigation-profile ul{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .profile .navigation-profile ul li{
        margin-right: 10px;
    }

    .profile .navigation-profile ul li:last-child{
        margin-right: 0;
    }

    .profile .profile-content .own-content h2{
        text-align: center;
    }

    .profile .profile-content .change-content .change-form input,
    .profile .profile-content .address-content .data-address input{
        width: 98%;
    }

    .profile .profile-content .change-content h2,
    .profile .profile-content .address-content h2,
    .profile .profile-content .history-content h2{
        text-align: center;
    }

    

}

@media screen and (max-width: 680px){
    .profile {
        padding: 25px calc(50% - 260px);
    }

    .profile .navigation-profile,.profile .profile-content{
        padding: 15px;
    }

    .profile .navigation-profile ul li{
        width: 50%;
        margin-right: 0;
    }

    .profile .profile-content .change-content .change-form input,
    .profile .profile-content .address-content .data-address input{
        width: 97.5%;
    }

    .profile .profile-content .address-content .address{
        justify-content: center;
    }

    .profile .profile-content .history-content .history-item{
        padding: 10px;
    }
}

@media screen and (max-width: 530px){
    .profile {
        padding: 25px calc(50% - 185px);
    }

    .profile .profile-content .change-content .change-form input,
    .profile .profile-content .address-content .data-address input{
        width: 96.5%;
    }
    
    .profile .profile-content .history-content .history-item .history-discription{
        text-align: center;
    }
}

@media screen and (max-width: 380px){
    .profile {
        padding: 25px calc(50% - 150px);
    }

    .profile .navigation-profile ul li{
        width: 100%;
    }

    .profile .profile-content .own-content .profile-text{
        font-size: 20px;
    }

    .profile .address-content .address .address-text{
        font-size: 20px;
    }

    .profile .address-content .address img{
        width: 20px;
    }

    .profile .profile-content .change-content .change-form input,
    .profile .profile-content .address-content .data-address input{
        width: 95.5%;
    }
}